{% extends 'base.html' %}

{% block content %}
    <!-- Thanks Message Start -->
    <div class="container-fluid bg-light min-vh-100 d-flex align-items-center">
        <div class="container text-center py-5">
            <h1 class="display-4 text-primary">Rahmat!</h1>
            <p class="lead mt-4">
                Yangiliklarimizga obuna bo'lganingiz uchun katta rahmat!
                Sizni haftalik yangiliklar va eng so'nggi voqealar bilan xabardor qilib turamiz.
            </p>
            <p class="text-muted">
                Agar sizga qo‘shimcha ma’lumot kerak bo‘lsa, iltimos
                <a href="{% url 'contact-us' %}" class="text-primary">
                    biz bilan bog‘laning
                </a>.
            </p>
            <a href="{% url 'home' %}" class="btn btn-primary rounded-pill py-3 px-5 mt-4">
                Asosiy sahifaga qaytish
            </a>
        </div>
    </div>
    <!-- Thanks Message End -->
{% endblock %}